* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-image: url(https://media.steampowered.com/apps/csgo/blog/images/fb_image.png?v=6);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

header {
    height: 1024px;
    background-image: url(./CSGO.svg);
    padding-top: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.hn1 {
    margin: 0 52px;
    display: flex;
    align-items: center;
}

.hb {
    width: 243px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 159, 245, 0.71);
    box-shadow: 0 4px 4px #DAD3FF;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    margin-left: 68px;
}

.hn1 a {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #D5D5D6;
}

.ha1 {
    margin-left: 35px;
    text-shadow: 0px 4px 4px #000000E0;
}

.ha2 {
    display: flex;
    margin-left: 463px;
    text-shadow: 0px 4px 4px #000000;
}

.ha2::after {
    content: url(./arrow.svg);
    margin: 6px 5px;
}

.hn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 163px;
    width: 604px;
    height: 103px;
    border-radius: 50px;
    border: 11px solid #5A5555;
    background-color: #FFC611;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-shadow: 0px 4px 4px #0047FF;
    cursor: pointer;
}

.hn3 {
    margin-top: 132px;
    height: 420px;
    display: flex;
    gap: 127px;
}

.hn3d {
    width: 361px;
    height: 420px;
    background-color: #1F1F1F;
    box-shadow: 8px 7px 20px 0px #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    cursor: pointer;
}

.hn3dd img {
    width: 361px;
    height: 353px;
}

.hn3d p {
    margin-top: 15px;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    color: #000000;
    text-shadow: 0 4px 4px #FFC200;
}

main {
    background-color: #000000;
    height: 1042px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.mp {
    margin-top: 61px;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    color: #5A5555;
    text-shadow: 0px 4px 4px #FFFFFF;
}

section img {
    width: 572px;
    height: 305px;
}

section {
    height: 305px;
    display: flex;
    ;
}

.s1 {
    margin-top: 58px;
    gap: 87px;
    margin-left: 58px;
}

.sd {
    height: 305px;
    margin-right: 61px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.sd p {
    font-size: 27px;
    font-weight: 600;
    line-height: 31.64px;
}

.sb {
    width: 278px;
    height: 61px;
    background-color: #FFC200;
    color: #000000;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    border: none;
    box-shadow: 0px 7px 12.8px #FFFFFF;
    text-shadow: 0px 4px 4px #040404CF;
    transition: 0.25s;
}

.sb:hover {
    background-color: #535353;
    color: #FFFFFF;
}

.s2 {
    margin-top: 168px;
    gap: 71px;
    margin-right: 76px;
}

.sd2 {
    height: 305px;
    margin-left: 58px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.sd2 p {
    font-size: 27px;
    font-weight: 600;
    line-height: 31.64px;
}

footer {
    height: 158px;
    background-color: #FFC611;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fi {
    margin-left: 58px;
}

.fd {
    margin-right: 76px;
    display: flex;
    align-items: center;
    gap: 40px;
}